# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeScripts/
*.xcodeproj
[Bb]uild/
CMakeCache.txt
cmake_install.cmake

# OSX
*.DS_Store

# Visual Studio
